# Operators

<h3><b>Arithmetic operators</b></h3>

In [1]:
# Variables
a = 10
b = 20

In [2]:
a+b

30

In [3]:
a-b

-10

In [4]:
a*b

200

In [35]:
# To find Exponentiation 
a**b

print(2**5)

32

In [6]:
a/b

0.5

In [7]:
c = 100
d = 14

In [9]:
c/d

7.142857142857143

In [8]:
# To remove the decimal values also called as Floor division
c//d

7

<h3><b>Logical operators</b></h3>

In [18]:
# Variables
x = 10
y = 20
z = 10

In [19]:
# (x < y) => 10 < 20 = True
# (x > z) => 10 > 10 = False
# AND is a multiplication operation. 
# If both are true then result is true otherwise false
# 1 x 0 = 0
(x < y) and (x > z)

False

In [20]:
# (x < y) => 10 < 20 = True
# (x > z) => 10 > 10 = False
# OR is a addition operation. 
# If any one is true then result is true otherwise false
# 1 + 0 = 1
(x < y) or (x > z)

True

In [23]:
# not (x < y) => 10 < 20 = Not (True) = False
# (x > z) => 10 > 10 = False
# AND is a multiplication operation. 
# Change the value to opposite. 
# ~(1) x 0 = 0
not (x < y) and (x > z)

False

<h3><b>Comparison / Relational operators</b></h3>

In [11]:
# Variables
x = 10
y = 20
z = 10

In [12]:
x < 20

True

In [13]:
x > 20

False

In [14]:
x != y

True

In [15]:
x != z

False

In [16]:
x == z

True

In [17]:
x == y

False

<h3><b>Assignment operators</b></h3>

In [25]:
a = 10
b = 20

In [28]:
print(a) 
print(b)

10
20

<h3><b>Bitwise operators</b></h3>

In [36]:
# Variable declarations
a = 10
b = 4
 
# Print bitwise AND operation
print("a & b =", a & b)

a & b = 0

In [37]:
# Print bitwise OR operation
print("a | b =", a | b)

a | b = 14

In [38]:
# Print bitwise NOT operation
print("~a =", ~a)

~a = -11

In [39]:
# print bitwise XOR operation
print("a ^ b =", a ^ b)

a ^ b = 14

<h3><b>Identity operators</b></h3>

In [29]:
# Variable declation

a = 10
b = 20

In [30]:
a is b

False

In [31]:
a is not b

True

<h3><b>Membership operators</b></h3>

In [32]:
a = 10
b = 20

list_a = [10,40,50,60,70]

In [33]:
# 10 present in the list
a in list_a

True

In [34]:
# 20 not present in the list
b not in list_a

True