<center><em>Computers are good at following instructions, but not at reading mind.</em></center>
<center><b>Donald Knuth</b> - Father of Analysis of algorithms</center>

<center><img src=""></center>

# Tuple - Data Structure

<ol>
    <li>Ordered or Unmutable container</li>
    <li>Allows Duplicate values</li>
    <li>Denoted by brackets - ()</li>
    <li>Can contain any type of data</li>
    <li>Tuples are faster than lists</li>
</ol>

In [1]:
# To Declare Tuple
myTuple = ()
myTuple = tuple()

# To use tuple function - Double brackets are important
myTuple = tuple((1,2,4,5))
myTuple

(1, 2, 4, 5)

In [2]:
# To initialize a tuple
myTuple = (1,2,2,3,4,5)
myDiffTuple = (1,"hello",15,'b',True,15.7)
print(myTuple)
print(myDiffTuple)

(1, 2, 2, 3, 4, 5)
(1, 'hello', 15, 'b', True, 15.7)

In [3]:
# To len of the tuple
print(len(myTuple))

6

<h3>Access items in Tuple</h3>

In [4]:
myTuple = ("apple", "banana", "cherry")
print(myTuple[1])

banana

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

<h3>Tuple Methods</h3>

In [7]:
# Count function - returns the number of times a specified value appears in the tuple.
thistuple = (1, 3, 7, 8, 7, 5, 4, 5, 8, 5)
x = thistuple.count(5)
print(x)

3

In [8]:
# Index function - finds the first occurrence of the specified value.
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

<h3>Changing Tuple values</h3>

In [9]:
# To change the values of the tuple
# 1. Convert the Tuple into List.
# 2. Change the values of list.
# 3. Convert the List to Tuple.

x = ("a", "b", "c")
y = list(x)
y[1] = "d"
x = tuple(y)
print(x)

('a', 'd', 'c')

In [10]:
# To add two or more Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

<h3>List vs Tuple</h3>

In [11]:
import numpy as np
import time
myList1 = np.arange(1,100000,2)
print(myList1)

[    1     3     5 ... 99995 99997 99999]

In [12]:
newList = myList1.tolist()

In [13]:
print(time.time())
newList.index(5907)
print(time.time())

1624989648.574337
1624989648.574337

In [14]:
s = 1624987476.3526115
e = 1624987476.3543594

e-s

0.0017478466033935547

In [15]:
import numpy as np
import time
myList1 = np.arange(1,100000,2)
print(myList1)

[    1     3     5 ... 99995 99997 99999]

In [16]:
thistuple = tuple((myList1))

In [17]:
print(time.time())
thistuple.index(5907)
print(time.time())

1624989721.545008
1624989721.5460045

In [18]:
s = 1624987735.690785
e = 1624987735.6917825
e-s

0.0009975433349609375

In [ ]:
List = 0.0017478
Tuple = 0.000997

<center><h3>Thank you</h3></center>